<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Cinema City</title>
</head>
<body>
    <img src="/img/Banner.jpg" alt="Cinema Banner">
        <header>
            <h1>Cinema City</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/movies">Movies</a>
                <a href="/authors">Authors</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
            </nav>
        </header>
    {{{body}}}
</body>
</html>