<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <img src="/img/Banner.jpg" alt="Cinema Banner">
        <h1>Welcome to Cinema City!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>